[MASTER]

[MESSAGES CONTROL]
disable=
    fixme,
    unknown-option-value

per-file-ignores = """
  /src/zabbixbackup/tests/:attribute-defined-outside-init,magic-value-comparison,missing-class-docstring,missing-function-docstring,protected-access,unexpected-keyword-arg
"""